@import url(light_theme_base_elements.css);

a, a:visited { color: #146b91; }

p, ol, ul, hr { margin-bottom: 20px; }
h2 { margin-bottom: 10px; }

header, footer { text-align: center; }

.wrapper, footer {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
}

#home-branding h1 {
  overflow: hidden;
  height: 0;
  width: 0;
}

#home-branding img {
  max-width: 300px;
  margin: 20px auto;
}

.gem-install {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: -20px;
}

nav li { display: inline-block; }
nav a {
  display: block;
  padding: 4px 8px;
}

#getting-started ol:after {
  content:"";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

#getting-started li {
  list-style-type: decimal;
  width: 33%;
  padding: 0 .5em;
  float: left;
}

#getting-started span {
  display: block;
  min-height: 56px; /* twice the bodycopy line-height */
}
#getting-started figure,
#getting-started pre,
#getting-started code {
  height: 150px;
  width: 100%;
}
#getting-started code { overflow: scroll; }

#key-points ul {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

#key-points li {
  list-style-type: disc;
  padding-left: 1em;
}

.decision-tree {
  margin-bottom: 20px;
}

.decision-tree img {
  max-width: 100%;
}


.decision-tree-flow {
  display: table;
  width: 100%;
}

.decision-tree-flow p {
  display: table-cell;
  vertical-align: middle;
}

.decision-tree-flow .answer {
  position: relative;
  padding: 0 40px 0 18px;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
}

.decision-tree-flow .answer:after {
  content: "";
  height: 14px;
  width: 16px;
  display: block;
  position: absolute;
  right: 20px;
  top: calc(50% - 9px); /* yeah, that's real. */
  background: url("/images/arrow.png") center center no-repeat;
}

.decision-tree-flow p img {
  max-width: 140px;
  padding-left: 1em;
}


@media only screen and (max-width: 1023px) {
  .decision-tree {
    text-align: center;
  }

  .decision-tree-flow, .decision-tree-flow p {
    display: block;
  }

  .decision-tree-flow p {
    width: 160px;
    margin: 0 auto;
  }

  .decision-tree-flow .answer {
    font-size: 2em;
    margin: .2em auto 1.1em auto;
    padding: 0;
  }

  .decision-tree-flow .answer:after {
    left: calc(50% - 7px);
    top: calc(100% + 7px);
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}


@media only screen and (max-width: 699px) {
  #getting-started span {
    min-height: 0;
  }

  #getting-started li {
    width: 100%;
    margin-bottom: 20px;
  }

  #key-points ul {
    -webkit-column-count: 0;
       -moz-column-count: 0;
            column-count: 0;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

}

@media only screen and (max-width: 480px) {
  #home-branding img {
    margin: 0 auto;
    max-width: 80%;
  }
}